<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-giasach-heading" data-cy="GiasachCreateUpdateHeading" jhiTranslate="sampleApplicationApp.giasach.home.createOrEditLabel">
        Create or edit a Giasach
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="sampleApplicationApp.giasach.thuTu" for="field_thuTu">Thu Tu</label>
          <input type="number" class="form-control" name="thuTu" id="field_thuTu" data-cy="thuTu" formControlName="thuTu" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="sampleApplicationApp.giasach.phongdungsach" for="field_phongdungsach"
            >Phongdungsach</label
          >
          <select
            class="form-control"
            id="field_phongdungsach"
            data-cy="phongdungsach"
            name="phongdungsach"
            formControlName="phongdungsach"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                phongdungsachOption.id === editForm.get('phongdungsach')!.value?.id
                  ? editForm.get('phongdungsach')!.value
                  : phongdungsachOption
              "
              *ngFor="let phongdungsachOption of phongdungsachesSharedCollection; trackBy: trackPhongdungsachById"
            >
              {{ phongdungsachOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
