<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="phongdungsach">
      <h2 data-cy="phongdungsachDetailsHeading">
        <span jhiTranslate="sampleApplicationApp.phongdungsach.detail.title">Phongdungsach</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ phongdungsach.id }}</span>
        </dd>
        <dt><span jhiTranslate="sampleApplicationApp.phongdungsach.tenPhong">Ten Phong</span></dt>
        <dd>
          <span>{{ phongdungsach.tenPhong }}</span>
        </dd>
        <dt><span jhiTranslate="sampleApplicationApp.phongdungsach.viTri">Vi Tri</span></dt>
        <dd>
          <span>{{ phongdungsach.viTri }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/phongdungsach', phongdungsach.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
