<div>
  <h2 id="page-heading" data-cy="ThuephongHeading">
    <span jhiTranslate="sampleApplicationApp.thuephong.home.title">Thuephongs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="sampleApplicationApp.thuephong.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-thuephong"
        [routerLink]="['/thuephong/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="sampleApplicationApp.thuephong.home.createLabel"> Create a new Thuephong </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="row">
    <div class="col-sm-12">
      <form name="searchForm" class="form-inline">
        <div class="input-group w-100 mt-3">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="currentSearch"
            id="currentSearch"
            name="currentSearch"
            placeholder="{{ 'sampleApplicationApp.thuephong.home.search' | translate }}"
          />

          <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
            <fa-icon icon="search"></fa-icon>
          </button>

          <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="alert alert-warning" id="no-result" *ngIf="thuephongs?.length === 0">
    <span jhiTranslate="sampleApplicationApp.thuephong.home.notFound">No thuephongs found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="thuephongs && thuephongs.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="ngayThue">
            <span jhiTranslate="sampleApplicationApp.thuephong.ngayThue">Ngay Thue</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="ca">
            <span jhiTranslate="sampleApplicationApp.thuephong.ca">Ca</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="phongdocsach.id">
            <span jhiTranslate="sampleApplicationApp.thuephong.phongdocsach">Phongdocsach</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="docgia.id">
            <span jhiTranslate="sampleApplicationApp.thuephong.docgia">Docgia</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="thuthu.id">
            <span jhiTranslate="sampleApplicationApp.thuephong.thuthu">Thuthu</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let thuephong of thuephongs; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/thuephong', thuephong.id, 'view']">{{ thuephong.id }}</a>
          </td>
          <td>{{ thuephong.ngayThue | formatMediumDatetime }}</td>
          <td>{{ thuephong.ca }}</td>
          <td>
            <div *ngIf="thuephong.phongdocsach">
              <a [routerLink]="['/phongdocsach', thuephong.phongdocsach?.id, 'view']">{{ thuephong.phongdocsach?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="thuephong.docgia">
              <a [routerLink]="['/docgia', thuephong.docgia?.id, 'view']">{{ thuephong.docgia?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="thuephong.thuthu">
              <a [routerLink]="['/thuthu', thuephong.thuthu?.id, 'view']">{{ thuephong.thuthu?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/thuephong', thuephong.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/thuephong', thuephong.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(thuephong)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="thuephongs && thuephongs.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
