<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="phongdocsach">
      <h2 data-cy="phongdocsachDetailsHeading"><span jhiTranslate="sampleApplicationApp.phongdocsach.detail.title">Phongdocsach</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ phongdocsach.id }}</span>
        </dd>
        <dt><span jhiTranslate="sampleApplicationApp.phongdocsach.tenPhong">Ten Phong</span></dt>
        <dd>
          <span>{{ phongdocsach.tenPhong }}</span>
        </dd>
        <dt><span jhiTranslate="sampleApplicationApp.phongdocsach.viTri">Vi Tri</span></dt>
        <dd>
          <span>{{ phongdocsach.viTri }}</span>
        </dd>
        <dt><span jhiTranslate="sampleApplicationApp.phongdocsach.sucChua">Suc Chua</span></dt>
        <dd>
          <span>{{ phongdocsach.sucChua }}</span>
        </dd>
        <dt><span jhiTranslate="sampleApplicationApp.phongdocsach.giaThue">Gia Thue</span></dt>
        <dd>
          <span>{{ phongdocsach.giaThue }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/phongdocsach', phongdocsach.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
