<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="nhaxuatban">
      <h2 data-cy="nhaxuatbanDetailsHeading"><span jhiTranslate="sampleApplicationApp.nhaxuatban.detail.title">Nhaxuatban</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ nhaxuatban.id }}</span>
        </dd>
        <dt><span jhiTranslate="sampleApplicationApp.nhaxuatban.tenNXB">Ten NXB</span></dt>
        <dd>
          <span>{{ nhaxuatban.tenNXB }}</span>
        </dd>
        <dt><span jhiTranslate="sampleApplicationApp.nhaxuatban.diaChi">Dia Chi</span></dt>
        <dd>
          <span>{{ nhaxuatban.diaChi }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/nhaxuatban', nhaxuatban.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
