<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="thuthu">
      <h2 data-cy="thuthuDetailsHeading"><span jhiTranslate="sampleApplicationApp.thuthu.detail.title">Thuthu</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ thuthu.id }}</span>
        </dd>
        <dt><span jhiTranslate="sampleApplicationApp.thuthu.hoTen">Ho Ten</span></dt>
        <dd>
          <span>{{ thuthu.hoTen }}</span>
        </dd>
        <dt><span jhiTranslate="sampleApplicationApp.thuthu.username">Username</span></dt>
        <dd>
          <span>{{ thuthu.username }}</span>
        </dd>
        <dt><span jhiTranslate="sampleApplicationApp.thuthu.password">Password</span></dt>
        <dd>
          <span>{{ thuthu.password }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/thuthu', thuthu.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
